Options +FollowSymLinks +ExecCGI -Indexes

ErrorDocument 404 /erros/404.php

<IfModule mod_rewrite.c>                                               
    RewriteEngine On

    #Redirecionamentos do frontend
    RewriteRule ^/?$                           /index.html        
    RewriteRule ^quem-somos/?$                 /pages/about.html           
    RewriteRule ^iniciativas/?$                /pages/works.html          
    RewriteRule ^ajudar/?$                     /pages/help-us.html           
    RewriteRule ^ensino/?$                     /pages/school.html         
    RewriteRule ^contato/?$                    /pages/contact.html

</IfModule>

