/*Rodapé*/

.rodape{
    width: 100%;
    padding: 3% 4%;
    float: left;
    background-color: #235661;
}

.social-icons a {
    font-size: 1.5em;
    color: var(--primary);
    margin-right: 3%;
}

.copy p {
    color: #F2F2F2;
}