h1 {
    font-size: 3rem;
}

@media (max-width: 434px) {
    #donate-button {
        margin-top: 0.5rem;
    }

    #landingImage {
        width: 350px;
    }
}

@media (max-width: 650px) {
    #landingImage {
        width: 390px;
    }
}